.finish-page {
  padding-top: 20px;
}

.finish-page__score-finish {
  margin-bottom: 80px;
  font-size: 40px;
  color: darkslategrey;
  font-weight: lighter;
}

.finish-page__score-intro {
  color: grey;
}

.finish-page__score {
  margin: -20px 0 60px;
  font-size: 100px;
  font-weight: lighter;
  color: darkslategrey;
}

.finish-page__share {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: darkslategray;
}

.finish-page__share:visited,
.finish-page__share:hover {
  color: darkslategray;
}

.finish-page__share-logo {
  fill: #1da1f2;
}

.finish-page__github-link {
  position: fixed;
  left: 0;
  bottom: 0;
  font-size: 14px;
  padding: 15px;
  color: darkslategray;
}
