.app__header {
  display: flex;
  align-items: center;
  height: 60px;
  padding: 0 10px;
  background: steelblue;
  color: white;
}

.app__title {
  font-size: 22px;
  font-weight: normal;
}

.app__share {
  font-size: 16px;
  margin-left: auto;
  color: white;
}

.app__body {
  text-align: center;
  padding: 0 10px;
  max-width: 400px;
  margin: 0 auto;
}
